body::-webkit-scrollbar{
display: none;
}
body{
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: block;
  background: linear-gradient(
    to top,
    rgba(91,85,131,95%),
    rgba(134,131,166,80%)
  );
  background-repeat: no-repeat;
}.header{
  color: #fefefe;
  font-weight: 600;
  font-size: x-large;
  text-align: left;
  padding: 0.75vw 0 0.75vw 50px;
  margin: 0;
  background: linear-gradient(
    to right,
    rgba(91,85,131, 90%),
    rgba(transparent,90%)
  );
  -webkit-box-shadow: inset 125px 0px 1380px -125px rgba(4,4,4,0.95);
-moz-box-shadow: inset 125px 0px 1380px -125px rgba(4,4,4,0.95);
box-shadow: inset 125px 0px 1380px -125px rgba(4,4,4,0.95);
  
}
.App{
  flex-direction: row;
  display: flex;
  flex:1;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0;
}
.radio-station {
    display: block;
    flex: 1 1;
    padding: 35px 10px 10px 10px;
    margin: 2vw 3vw 2vw 3vw;
    border-radius: 0.5vw;
    width: 200px;
    height: 280px;
    min-width: 200px;
    text-align: center;
    max-width: 200px;
    max-height: 280px;
  background: linear-gradient(
  to right,
  rgba(148, 123, 185, 90%),
  rgba(91,85,131,90%)
);
}
.radio-station .logo-back{
  background: #fefefe;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;

}
.radio-station img {
  width: 120px;
  height: auto;
  justify-content: center;
  align-items: center;

}
.card-shadow{
  box-shadow: 3px 3px 10px rgba(0,0,0,.7)
}
i.icons{
  cursor: pointer;
  color: #fefefe;
  font-size: 100px;
  /* padding-top: 15px; */
  display: block;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 375px){
  .App {
    display: block;
}
.radio-station {
  margin: 10vw 20vw 10vw 20vw;
}
i.icons {
  font-size: 30vw;
}
}
